/* STYLES
    White: #f1f2fa
    Light blue: #5bb3fa
    Royal Blue: #233bfa
    Dark: #1a1e2d
*/

.main, #main {
    background-color: #1a1e2d;
}

h1, h2 {
    font-family: 'Aileron Regular', sans-serif !important;
    color: #f1f2fa;
}

/* .main-fade {
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
} */

@font-face {
    font-family: 'Aileron Regular';
    src: url('/fonts/Aileron-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
